#parse("commons.vm")

#macro(setAuthorizedAccessPoint $root $cluster_uri $title)
	#set($_700s = $xpath.many("datafield[@tag='700']",$root))	
	#foreach($_700 in $_700s)			
		#set($_v700 = $function.escape($xpath.combine($_700, "abcdfg")))		
	#end
    #set($_701s = $xpath.many("datafield[@tag='701']", $root))		
	#set($_v701 = "")
	#foreach($_701 in $_701s)		
		#set($_v701temp = $function.escape($xpath.combine($_701, "abcdfg")))
		##se sono al primo giro e non voglio avere troppi spazi all'inizio della stringa
		#if(!$function.isNotNullAndNotEmpty($_v701))
			#set($_v701 = "${_v701}${_v701temp}")
		#else
			#set($_v701 = "${_v701}  ${_v701temp}")
		#end
	#end
    #set($_710s = $xpath.many("datafield[@tag='710']", $root))	
	#foreach($_710 in $_710s)
		#set($_v710 = $function.escape($xpath.combine($_710, "abe")))	
	#end
    #set($_711s = $xpath.many("datafield[@tag='711']", $root))
	#set($_v711 = "")
	#foreach($_711 in $_711s)		
		#set($_v711temp = $function.escape($xpath.combine($_711, "abe")))	
		#if(!$function.isNotNullAndNotEmpty($_v711))
			#set($_v711 = "${_v711}${_v711temp}")
		#else
			#set($_v711 = "${_v711}  ${_v711temp}")
		#end
	#end
    #set($_720s = $xpath.many("datafield[@tag='720']", $root))
	#foreach($_720 in $_720s)
		#set($_v720 = $function.escape($xpath.combine($_720, "a")))	
	#end
    #set($_721s = $xpath.many("datafield[@tag='721']", $root))
	#set($_v721 = "")
	#foreach($_721 in $_721s)		
		#set($_v721temp = $function.escape($xpath.combine($_721, "a")))
		#if(!$function.isNotNullAndNotEmpty($_v721))
			#set($_v721 = "${_v721}${_v721temp}")
		#else
			#set($_v721 = "${_v721}  ${_v721temp}")
		#end
	#end
	     
	
	## setto il primo addendo della somma del mapping
          
	#if($function.isNotNullAndNotEmpty($_v700)) 
		#set($firstAddend = $_v700)
	#elseif($function.isNotNullAndNotEmpty($_v701))	
		#set($firstAddend = $_v701)
	#elseif($function.isNotNullAndNotEmpty($_v710))
		#set($firstAddend = $_v710)
	#elseif( $function.isNotNullAndNotEmpty($_v711))
		#set($firstAddend = $_v711)
	#elseif( $function.isNotNullAndNotEmpty($_v720))
		#set($firstAddend = $_v720)
	#else
		#set($firstAddend = $_v721)		
	#end	
		
	
	$cluster_uri $rdfs_label "$firstAddend. $function.escape($title)" .
#end
	


######### fine macro #######################

##---- ANALIZZANDO --- $frbr.manifestationID  ------
##
##

#set($people = $frbr.personIDs)
#foreach($entry in $people.entrySet()) 
	#set($tagName = $entry.getKey())
	#set($clusters = $entry.getValue())
	#set($tags = $xpath.many("datafield[@tag='${tagName}']", $root))
	#foreach($cluster in $clusters)
		#set($index = $velocityCount)
		#set($tag = $tags.get($index))
		#set($cluster_uri = "#uri_literal('Person' $cluster.id)")
		#if(!$function.nameClusterHasBeenAlreadyProcessed($cluster))
			$cluster_uri $is_a #bf('Person') .
			#foreach($work_id in $cluster.parents())
				#set($work_uri = "#uri_literal('Work' $work_id)")
				$work_uri #bf('creator') $cluster_uri . 
				##$cluster_uri #bf('relatedTo') $work_uri .
			#end 
			#set($firstTimeViaf = true)			
			#set($firstTimeExternalLink = true)
			#foreach($cluster_entry in $cluster.entries)	
											
				#if ($cluster_entry.viafId && $firstTimeViaf)
					##if($cluster_entry.viafId.contains("http://"))
						$cluster_uri <http://www.w3.org/2002/07/owl#sameAs> <${cluster_entry.viafId}> .						
					##end
					##versione alternativa per viaf in bibframe
					## le teniamo entrambe per completezza
					#set($firstTimeViaf = false)
				#end
				
				#if ($cluster_entry.getExternalLink() && !$cluster_entry.getExternalLink().isEmpty() && $firstTimeExternalLink)
					#foreach($uriElement in $cluster_entry.getExternalLink())
						$cluster_uri <http://www.w3.org/2002/07/owl#sameAs> <${uriElement}> .					
					#end
					#set($firstTimeExternalLink = false)
				#end
				
				#if($cluster_entry.preferred)
					#set($text = $function.escape($cluster_entry.heading))
					$cluster_uri $rdfs_label "$text" . 
					$cluster_uri $rdfs_label "$text" .			
				#else
					$cluster_uri $rdfs_label "$function.escape($cluster_entry.heading)" . 
				#end 	
			#end					
			$function.markNameClusterAsProcessed($cluster)
		#end	
	#end 	
#end

#set($works = $frbr.workIDs)
#foreach($entry in $works.entrySet()) 
	#set($tagName = $entry.getKey())
	#set($clusters = $entry.getValue())
	#set($tags = $xpath.many("datafield[@tag='${tagName}']", $root))
	#foreach($cluster in $clusters)
		#set($index = $velocityCount)
		#set($tag = $tags.get($index))
		#set($cluster_uri = "#uri_literal('Work' $cluster.id)")
		#if(!$function.titleClusterHasBeenAlreadyProcessed($cluster))
			$cluster_uri $is_a #bf('Work') . 
			$cluster_uri #bf('hasInstance') $manifestation_s . 
			$manifestation_s #bf('instanceOf') $cluster_uri . 
			
			#set($firstTimeViaf = true)
			#foreach($cluster_entry in $cluster.entries)
				#if($cluster_entry.preferred)					
					#oneValue($cluster_uri $cluster_entry.heading "WorkTitle" $workTitle_c $mainTitle $rdfs_label) 
					
					##setAuthorizedAccessPoint($root $cluster_uri $cluster_entry.heading)
				#elseif ($cluster_entry.viafId && $firstTimeViaf)
					$cluster_uri <http://www.w3.org/2002/07/owl#sameAs> <http://viaf.org/viaf/${cluster_entry.viafId}> . 
					#set($firstTimeViaf = false)
				#else
					#oneValue($cluster_uri $cluster_entry.heading "WorkTitle" $workTitle_c $title $rdfs_label)  
				#end 	
			#end	
			$function.markTitleClusterAsProcessed($cluster)
		#end					
		#set($text = $function.escape($function.clean($cluster.id)))
		#set($s1 = "#uri_with_strong_normalization('local' ${text})")
		$s1 $is_a $identifier_c .		
		$s1 $rdf_value "$cluster.id" .
		$cluster_uri $identifiedBy $s1 .
		 
		##				
		#set($v = $xpath.combine($tag, "k"))
		#if($function.isNotNullAndNotEmpty($v)) 
			#set($text = $function.escape($v))
			$cluster_uri $originDate "$text" .
		##
		#end
		
		##legalDate				
		#set($v = $xpath.combine($tag, "k"))
		#if($function.isNotNullAndNotEmpty($v)) 
			#set($text = $function.escape($v))
			$cluster_uri $legalDate "$text" .
		##		
		#end
		##
		
		#set($v = $xpath.combine($tag, "s"))
		#if($function.isNotNullAndNotEmpty($v)) 
			#set($text = $function.escape($v))
			$cluster_uri $musicSerialNumber "$text" .
		##
		#end
		
		#set($v = $xpath.combine($tag, "u"))
		#if($function.isNotNullAndNotEmpty($v)) 
			#set($text = $function.escape($v))
			$cluster_uri $musicKey "$text" .
		##
		#end
		
			
##		#set($v = $xpath.combine($tag, "q"))
##		#if($function.isNotNullAndNotEmpty($v)) 
##			#set($text = $function.escape($v))
##			$cluster_uri $musicVersion "$text" .
		
##		#end
		
			#set($v = $xpath.combine($tag, "r"))
		#if($function.isNotNullAndNotEmpty($v)) 
			#set($text = $function.escape($v))
			#set($mm = "#uri_with_strong_normalization('MusicMedium' ${text})")
			$cluster_uri $musicMedium  $mm.
			$mm $is_a $musicMedium_c .
			$mm $rfds_label "$text" .
			
		##
		#end
		
		##titleAttribute
##		#set($titleNode = "#uri_with_strong_normalization('workTitle' ${function.escape($cluster_entry.heading)})")
##		#set($values = $xpath.combine($tag, "bjklmnqrsuvwxyz2"))
##		#if($function.isNotNullAndNotEmpty($values))
##			$titleNode $titleAttribute "$values" .			
##		#end
		##
		
        ##content		
        #set($s1 = "#uri_with_strong_normalization('Content' ${text})")				
        $s1 $is_a $content_c .     
        $s1 $rdfs_label "Text" .
        $cluster_uri $content $s1 .
		##
		
		
	#end 			
#end  


## ALL WORK

#foreach($w in $frbr.flatWorkIDs)
	#set($cluster_uri = "#uri_literal('Work' ${w.id})")
	##
	##dissertationNote
	#triplesWithBlankNode($root $cluster_uri $note "328" "a" "Note" $note_c $rdfs_label "328" "a" $noteType "" "dissertation")
	##
	##geographicCoverageNote
	#triplesWithBlankNode($root $cluster_uri $note "607" "a" "Note" $note_c $rdfs_label "607" "a" $noteType "" "geographic coverage")
	##	
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "011" "a" "issnL" $issnL_c $rdf_value "011" "a")	
	##generic identifier
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "010" "a" "identifier" $identifier_c $rdf_value "010" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "012" "a" "identifier" $identifier_c $rdf_value "012" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "013" "a" "identifier" $identifier_c $rdf_value "013" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "015" "a" "identifier" $identifier_c $rdf_value "015" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "016" "a" "identifier" $identifier_c $rdf_value "016" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "035" "b" "identifier" $identifier_c $rdf_value "035" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "020" "a" "identifier" $identifier_c $rdf_value "020" "b")
	
	#triplesWithBlankNode($root $cluster_uri $classification "686" "a" "Classification" $classification_c $rdf_value "686" "a")
	#triplesWithBlankNode($root $cluster_uri $classification "022" "b" "Classification" $classification_c $rdf_value "022" "b")

	#triplesWithBlankNode($root $cluster_uri $classification "675" "a" "Udc" $classificationUdc_c $rdf_value "675" "a")
	#triplesWithBlankNode($root $cluster_uri $classification "676" "a" "Ddc" $classificationDdc_c $rdf_value "676" "a")	
	#triplesWithBlankNode($root $cluster_uri $classification "680" "a" "Lcc" $classificationLcc_c $rdf_value "680" "a")
	#triplesWithBlankNode($root $cluster_uri $classification "686" "a" "Nlm" $classificationNlm_c $rdf_value "686" "a")
	
	##
	##genre selezione posizione 4-7
	#set ($_tags = $xpath.many("datafield[@tag='105']", $root))
	#foreach($_tag in $_tags)
		#set($blankValue = $xpath.combine($_tag, "a"))
		
		#if($function.isNotNullAndNotEmpty($blankValue))
			##creo l'uri per il blank node
			#set($s1 = "#uri_with_strong_normalization('GenreForm'${blankValue})")
			##creo la tripla tra soggetto e blank node
			$cluster_uri $genreForm $s1 .
			##definisco il blank node
			$s1 $is_a $genreForm_c . 
			##popolo il blank node
			
			#oneTripleInnerFilter($s1 $rdfs_label $_tag "a" "105" "4-7")				
						
		#end
	#end
	

	##cartography	
	#triplesWithBlankNode($root $cluster_uri $cartography "206" "e" "cartography" $cartography_c $ascensionAndDeclination "206" "e" $coordinates "206" "d" $equinox "206" "f" $projection "206" "c" $scale "206" "b")
	
	##
	#triplesWithBlankNode($root $manifestation_s $title "501" "a" "CollectiveTitle" $collectiveTitle_c $rdfs_label "501" "a" $variantType "" "collective title")
	#triplesWithBlankNode($root $manifestation_s $title "510" "ae" "VariantTitle" $variantTitle_c $rdfs_label "510" "ae")
	#triplesWithBlankNode($root $manifestation_s $title "512" "ae" "VariantTitle" $variantTitle_c $rdfs_label "512" "ae")
	#triplesWithBlankNode($root $manifestation_s $title "513" "ae" "VariantTitle" $variantTitle_c $rdfs_label "513" "ae")
	#triplesWithBlankNode($root $manifestation_s $title "514" "ae" "VariantTitle" $variantTitle_c $rdfs_label "514" "ae")
	#triplesWithBlankNode($root $manifestation_s $title "515" "ae" "VariantTitle" $variantTitle_c $rdfs_label "515" "ae")
    #triplesWithBlankNode($root $manifestation_s $title "516" "ae" "VariantTitle" $variantTitle_c $rdfs_label "516" "ae")
    #triplesWithBlankNode($root $manifestation_s $title "517" "ae" "VariantTitle" $variantTitle_c $rdfs_label "517" "ae")
    #triplesWithBlankNode($root $manifestation_s $title "520" "ae" "VariantTitle" $variantTitle_c $rdfs_label "520" "ae")
    #triplesWithBlankNode($root $manifestation_s $title "541" "ae" "VariantTitle" $variantTitle_c $rdfs_label "541" "ae")

	##dissertation
	#triplesWithBlankNode($root $cluster_uri $note "328" "a" "Note" $note_c $rdfs_label "328" "a")	
	##dissertationInstitution	
	#triplesWithBlankNode($root $cluster_uri $note "328" "e" "Note" $note_c $rdfs_label "328" "e" $noteType "" "dissertation institution")
	##dissertationYear
	#triplesWithBlankNode($root $cluster_uri $note "328" "d" "Note" $note_c $rdfs_label "328" "d" $noteType "" "dissertation year")
	
	## dissertation like class end not note
	#triplesWithBlankNode($root $cluster_uri $note "328" "a" "Dissertation" $dissertation_c $rdfs_label "328" "a" $date "328" "d")
		
#end

## INSTANCE OR WORK
##se di opera ne ho solo una:

#if($frbr.flatWorkIDs.size() == 1)	
	#set($s = "#uri_literal('Work' ${frbr.flatWorkIDs.iterator().next().id})")	
	#set($p = $title)
	#set($k = "WorkTitle")
#else
	#set($s = $manifestation_s)
	#set($p = $title)
	#set($k = "VariantTitle")
#end

#triplesWithBlankNode($root $s $p "500" "a" $k $title_c $rdfs_label  "500" "a") 

#triplesWithBlankNode($root $s $p "503" "a" $k $variantTitle_c $rdfs_label "503" "a" $variantType "" "Preferred Conventional Heading" $subtitle "503" "e")

## ISTANCE

$manifestation_s $is_a $instance_c .

#triplesWithBlankNode($root $manifestation_s $title "560" "a" "VariantTitle" $variantTitle_c $rdfs_label "560" "a" $variantType "" "Artifical Title" $subtitle "560" "e")
#triplesWithBlankNode($root $manifestation_s $title "545" "a" "VariantTitle" $variantTitle_c $rdfs_label "545" "a" $variantType "" "Section Title" $subtitle "545" "e")
#triplesWithBlankNode($root $manifestation_s $title "541" "a" "VariantTitle" $variantTitle_c $rdfs_label "541" "a" $variantType "" "Translated Title Supplied by Cataloguer" $subtitle "541" "e")
#triplesWithBlankNode($root $manifestation_s $title "540" "a" "VariantTitle" $variantTitle_c $rdfs_label "540" "a" $variantType "" "Additional Title Supplied by Cataloguer" $subtitle "540" "e")
#triplesWithBlankNode($root $manifestation_s $title "532" "a" "VariantTitle" $variantTitle_c $rdfs_label "532" "a" $variantType "" "Expanded Title" $subtitle "532" "e")
#triplesWithBlankNode($root $manifestation_s $title "531" "a" "AbbreviatedTitle" $abbreviatedTitle_c $rdfs_label "531" "a" $subtitle "531" "e")
#triplesWithBlankNode($root $manifestation_s $title "530" "a" "KeyTitle" $keyTitle_c $rdfs_label "530" "a" $subtitle "530" "e")
#triplesWithBlankNode($root $manifestation_s $title "518" "a" "VariantTitle" $variantTitle_c $rdfs_label "518" "a" $variantType "" "Title in Standard Modern Spelling" $subtitle "518" "e")
#triplesWithBlankNode($root $manifestation_s $title "517" "a" "VariantTitle" $variantTitle_c $rdfs_label "517" "a" $variantType "" "Other Variant Title" $subtitle "517" "e")
#triplesWithBlankNode($root $manifestation_s $title "516" "a" "VariantTitle" $variantTitle_c $rdfs_label "516" "a" $variantType "" "Spine Title" $subtitle "516" "e")
#triplesWithBlankNode($root $manifestation_s $title "515" "a" "VariantTitle" $variantTitle_c $rdfs_label "515" "a" $variantType "" "Running Title" $subtitle "515" "e")
#triplesWithBlankNode($root $manifestation_s $title "514" "a" "VariantTitle" $variantTitle_c $rdfs_label "514" "a" $variantType "" "Caption Title" $subtitle "514" "e")
#triplesWithBlankNode($root $manifestation_s $title "513" "a" "VariantTitle" $variantTitle_c $rdfs_label "513" "a" $variantType "" "Added Title-Page Title" $subtitle "513" "e")
#triplesWithBlankNode($root $manifestation_s $title "512" "a" "VariantTitle" $variantTitle_c $rdfs_label "512" "a" $variantType "" "Cover Title" $subtitle "512" "e")
#triplesWithBlankNode($root $manifestation_s $title "511" "a" "VariantTitle" $variantTitle_c $rdfs_label "511" "a" $variantType "" "Half Title" $subtitle "511" "e")
#triplesWithBlankNode($root $manifestation_s $title "510" "a" "ParallelTitle" $parallelTitle_c $rdfs_label "510" "a" $subtitle "510" "e")
#triplesWithBlankNode($root $manifestation_s $title "510" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "510" "ae")
#triplesWithBlankNode($root $manifestation_s $title "512" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "512" "ae")
#triplesWithBlankNode($root $manifestation_s $title "513" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "513" "ae")
#triplesWithBlankNode($root $manifestation_s $title "514" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "514" "ae")
#triplesWithBlankNode($root $manifestation_s $title "515" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "515" "ae")
#triplesWithBlankNode($root $manifestation_s $title "516" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "516" "ae")
#triplesWithBlankNode($root $manifestation_s $title "517" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "517" "ae")
#triplesWithBlankNode($root $manifestation_s $title "520" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "520" "ae")
#triplesWithBlankNode($root $manifestation_s $title "541" "ae" "InstanceTitle" $instanceTitle_c $rdfs_label "541" "ae")

#triplesWithBlankNode($root $manifestation_s $language "101" "a" "language" $language_c $rdfs_label "101" "a")

##oneTriple($root $manifestation_s "012" "5a" $uri)

#triplesWithBlankNode($root $manifestation_s $note "300" "a" "Note" $note_c $rdfs_label "300" "a" $noteType "" "General")

#oneTriple($root $manifestation_s "322" "a" $credits)
##performerNote
#triplesWithBlankNode($root $manifestation_s $note "323" "a" "Note" $note_c $rdfs_label "323" "a" $noteType "" "performer")

#oneTriple($root $manifestation_s "345" "abcd" $immediateAcquisition)

