#parse("commons.vm")

#macro(setAuthorizedAccessPoint $root $cluster_uri)
	
    ######## primo addendo #########
    #set($_100s = $xpath.many("datafield[@tag='100']", $root))		
	#set($_v100 = "")
	#foreach($_100 in $_100s)		
		#set($_v100temp = $function.escape($xpath.combine($_100, "abcdjq")))
		##se sono al primo giro e non voglio avere troppi spazi all'inizio della stringa
		#if(!$function.isNotNullAndNotEmpty($_v100))
			#set($_v100 = "${_v100}${_v100temp}")
		#else
			#set($_v100 = "${_v100}  ${_v100temp}")
		#end
	#end	
   
    #set($_110s = $xpath.many("datafield[@tag='110']", $root))
	#set($_v110 = "")
	#foreach($_110 in $_110s)		
		#set($_v110temp = $function.escape($xpath.combine($_110, "abc")))	
		#if(!$function.isNotNullAndNotEmpty($_v110))
			#set($_v110 = "${_v110}${_v110temp}")
		#else
			#set($_v110 = "${_v110}  ${_v110temp}")
		#end
	#end
  	     
	    #set($_111s = $xpath.many("datafield[@tag='111']", $root))
	#set($_v111 = "")
	#foreach($_111 in $_111s)		
		#set($_v111temp = $function.escape($xpath.combine($_111, "acdeq")))	
		#if(!$function.isNotNullAndNotEmpty($_v111))
			#set($_v111 = "${_v111}${_v111temp}")
		#else
			#set($_v111 = "${_v111}  ${_v111temp}")
		#end
	#end	
	## setto il primo addendo della somma del mapping
          
	#if($function.isNotNullAndNotEmpty($_v100)) 
		#set($firstAddend = $_v100)
	#elseif($function.isNotNullAndNotEmpty($_v110))	
		#set($firstAddend = $_v110)
	#elseif( $function.isNotNullAndNotEmpty($_v111))
		#set($firstAddend = $_v111)	
	#else 
		#set($firstAddend = "")	
	#end	
	 ######## fine primo addendo ###########################################
	 
	 ######### secondo addendo #############################################
	#set($_240s = $xpath.many("datafield[@tag='240']", $root))		
	#set($_v240 = "")
	#foreach($_240 in $_240s)		
		#set($_v240temp = $function.escape($xpath.combine($_240, "adfgklmnopqrs")))
		##se sono al primo giro e non voglio avere troppi spazi all'inizio della stringa
		#if(!$function.isNotNullAndNotEmpty($_v240))
			#set($_v240 = "${_v240}${_v240temp}")
		#else
			#set($_v240 = "${_v240}  ${_v240temp}")
		#end
	#end
	
	#set($_245s = $xpath.many("datafield[@tag='245']", $root))		
	#set($_v245 = "")
	#foreach($_245 in $_245s)		
		#set($_v245temp = $function.escape($xpath.combine($_245, "afgknps")))
		##se sono al primo giro e non voglio avere troppi spazi all'inizio della stringa
		#if(!$function.isNotNullAndNotEmpty($_v245))			
			#set($_v245 = "${_v245}${_v245temp}")		
		#else
			#set($_v245 = "${_v245}  ${_v245temp}")		
		#end
	#end
	
	#set($_130s = $xpath.many("datafield[@tag='130']", $root))		
	#set($_v130 = "")
	#foreach($_130 in $_130s)		
		#set($_v130temp = $function.escape($xpath.combine($_130, "adfgklmnoprs")))
		##se sono al primo giro e non voglio avere troppi spazi all'inizio della stringa
		#if(!$function.isNotNullAndNotEmpty($_v130))
			#set($_v130 = "${_v130}${_v130temp}")
		#else
			#set($_v130 = "${_v130}  ${_v130temp}")
		#end
	#end
	## setto il secondo addendo della somma del mapping
	#if($function.isNotNullAndNotEmpty($_v240)) 
		#set($secondAddend = $_v240)
	#elseif($function.isNotNullAndNotEmpty($_v245))	
		#set($secondAddend = $function.removePunct($_v245))
	#elseif( $function.isNotNullAndNotEmpty($_v130))
		#set($secondAddend = $_v130)	
	#end	
	
	#set($space = "")
	#if($function.isNotNullAndNotEmpty($secondAddend) && $function.isNotNullAndNotEmpty($firstAddend)) 		
		#set($space = " ")
	#end
	 ###########fine secondo addendo############
	$cluster_uri $rdfs_label "$firstAddend$space$secondAddend" .
#end
	



############## fine macro ####################


#set($people = $frbr.personIDs)
#foreach($entry in $people.entrySet()) 
	#set($tagName = $entry.getKey())
	#set($clusters = $entry.getValue())
	#set($tags = $xpath.many("datafield[@tag='${tagName}']", $root))
	#foreach($cluster in $clusters)
		#set($index = $velocityCount)
		#set($tag = $tags.get($index))
		#set($cluster_uri = "#uri_literal('Person' $cluster.id)")
		#if(!$function.nameClusterHasBeenAlreadyProcessed($cluster))
			$cluster_uri $is_a #bf('Person') .
			#foreach($work_id in $cluster.parents())
				#set($work_uri = "#uri_literal('Work' $work_id)")
				$work_uri #bf('creator') $cluster_uri . 
				##$cluster_uri #bf('relatedTo') $work_uri .
			#end 
			#set($firstTimeViaf = true)		
			#set($firstTimeExternalLink = true)
			#foreach($cluster_entry in $cluster.entries)	
											
				#if ($cluster_entry.viafId && $firstTimeViaf)
					$cluster_uri <http://www.w3.org/2002/07/owl#sameAs> <${cluster_entry.viafId}> .					
					##versione alternativa per viaf in bibframe
					## le teniamo entrambe per completezza
					#set($firstTimeViaf = false)
				#end
				
				#if ($cluster_entry.getExternalLink() && !$cluster_entry.getExternalLink().isEmpty() && $firstTimeExternalLink)
					#foreach($uriElement in $cluster_entry.getExternalLink())
						$cluster_uri <http://www.w3.org/2002/07/owl#sameAs> <${uriElement}> .					
					#end
					#set($firstTimeExternalLink = false)
				#end
				
				#if($cluster_entry.preferred)
					#set($text = $function.escape($cluster_entry.heading))
					$cluster_uri $rdfs_label "$text" . 		
				#else
					$cluster_uri $rdfs_label "$function.escape($cluster_entry.heading)" . 
				#end 	
			#end				
			$function.markNameClusterAsProcessed($cluster)
		#end	
	#end 	
#end

#set($works = $frbr.workIDs)
#foreach($entry in $works.entrySet()) 
	#set($tagName = $entry.getKey())
	#set($clusters = $entry.getValue())
	#set($tags = $xpath.many("datafield[@tag='${tagName}']", $root))
	#foreach($cluster in $clusters)
		#set($index = $velocityCount)
		#set($tag = $tags.get($index))
		#set($cluster_uri = "#uri_literal('Work' $cluster.id)")
		#if(!$function.titleClusterHasBeenAlreadyProcessed($cluster))
			$cluster_uri $is_a #bf('Work') . 
			$cluster_uri #bf('hasInstance') $manifestation_s . 
			$manifestation_s #bf('instanceOf') $cluster_uri . 
			
			#set($firstTimeViaf = true)
			#foreach($cluster_entry in $cluster.entries)						
				#if($cluster_entry.preferred)
					#oneValue($cluster_uri $cluster_entry.heading "WorkTitle" $workTitle_c $mainTitle $rdfs_label) 
					
					##titleAttribute
##					#set($titleNode = "#uri_with_strong_normalization('workTitle' ${function.escape($cluster_entry.heading)})")
##					#set($_130s = $xpath.many("datafield[@tag='130']",$root))
##					#foreach($_130 in $_130s)
##						#set($v = $xpath.combine($_130, "g"))						
##						$titleNode $titleAttribute $values
##					#end
##					#set($_240s = $xpath.many("datafield[@tag='240']",$root))
##					#foreach($_240 in $_240s)
##						#set($values = $xpath.combine($_240, "g"))
##						#if(!$function.isNotNullAndNotEmpty($values))
##							$titleNode $titleAttribute "$values" .
##						#end
##					#end
					##								
				#elseif ($cluster_entry.viafId && $firstTimeViaf)
					$cluster_uri <http://www.w3.org/2002/07/owl#sameAs> <http://viaf.org/viaf/${cluster_entry.viafId}> . 
					#set($firstTimeViaf = false)
				#else
					#oneValue($cluster_uri $cluster_entry.heading "WorkTitle" $workTitle_c $title $rdfs_label) 
				#end 	
			#end	
			$function.markTitleClusterAsProcessed($cluster)
		#end					
		#set($text = $function.escape($function.clean($cluster.id)))
		#set($s1 = "#uri_with_strong_normalization('local' ${text})")
		$s1 $is_a $identifier_c .
		$s1 $rdf_values "$cluster.id" .
		$cluster_uri $identifiedBy $s1 .
					
       
	#end 			
#end  

##All WORK
#foreach($w in $frbr.flatWorkIDs)
	#set($cluster_uri = "#uri_literal('Work' ${w.id})")	
	
	##setAuthorizedAccessPoint($root $cluster_uri)	
	##marc21
	##content 
	
	##set($triple = "")
	##set($triple = "#triplesWithBlankNode($root $cluster_uri $contentCategory '336' 'a' 'Category' $category_c $contentType '336' 'a' $categorySource '336' '2')")
	##if(!$triple || $triple == "")
		##set($triple = "#triplesWithBlankNode($root $cluster_uri $contentCategory '337' 'b' 'Category' $category_c $contentType '337' 'b' $categorySource '337' '2')")
	##end	
	##$triple
	#triplesWithBlankNode($root $cluster_uri $content '336' 'a' 'Content' $content_c $rdfs_label '336' 'a')
	#triplesWithBlankNode($root $cluster_uri $media '337' 'a' 'Media' $media_c $rdfs_label '337' 'a')
	#triplesWithBlankNode($root $cluster_uri $carrier '338' 'a' 'Carrier' $carrier_c $rdfs_label '338' 'a')
		
	##dissertationNote
	#triplesWithBlankNode($root $cluster_uri $note "502" "ag" "Note" $note_c $rdfs_label "502" "ag" $noteType "" "dissertation")	
	##dissertationDegree
	#triplesWithBlankNode($root $cluster_uri $note "502" "b" "Note" $note_c $rdfs_label "502" "b" $noteType "" "dissertation degree")
	##dissertationInstitution	
	#triplesWithBlankNode($root $cluster_uri $note "502" "c" "Note" $note_c $rdfs_label "502" "c" $noteType "" "dissertation institution")
	##dissertationYear
	#triplesWithBlankNode($root $cluster_uri $note "502" "d" "Note" $note_c $rdfs_label "502" "d" $noteType "" "dissertation year")
	## dissertation like class end not note
	#triplesWithBlankNode($root $cluster_uri $note "502" "ag" "Dissertation" $dissertation_c $rdfs_label "502" "ag" $date "502" "d")
	
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "502" "o" "DissertationIdentifier" $dissertationIdentifier_c $rdf_value "502" "o")
	
	##identificativi generici
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "010" "ab" "Lccn" $lccn_c $rdf_value "010" "ab")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "015" "a" "Identifier" $identifier_c $rdf_value "015" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "016" "a" "Identifier" $identifier_c $rdf_value "016" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "022" "almy" "Identifier" $identifier_c $rdf_value "022" "almy")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "028" "a" "Identifier" $identifier_c $rdf_value "028" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "032" "b" "Identifier" $identifier_c $rdf_value "032" "b")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "017" "a" "Identifier" $identifier_c $rdf_value "017" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "036" "a" "Identifier" $identifier_c $rdf_value "036" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "037" "a" "Identifier" $identifier_c $rdf_value "037" "a")
		
	##triplesWithBlankNode($root $cluster_uri $isbn "020" "a" "identifier" $identifier_c $identifierValue "020" "az" $identifierQualifier "020" "aq" $identifierStatus "020" "z")
	##triplesWithBlankNode($root $cluster_uri $isbn10 "020" "a" "identifier" $identifier_c $identifierValue "020" "az" $identifierQualifier "020" "aq" $identifierStatus "020" "z")
	##triplesWithBlankNode($root $cluster_uri $isbn13 "020" "a" "identifier" $identifier_c $identifierValue "020" "az" $identifierQualifier "020" "aq" $identifierStatus "020" "z")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "027" "a" "identifier" $identifier_c $rdf_value "027" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "024" "a" "identifier" $identifier_c $rdf_value "024" "a")
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "035" "a" "identifier" $identifier_c $rdf_value "036" "a") 
	
	##originDate
	#set($triple1 = "")
	#set($triple1 = "#oneTriple($root $cluster_uri '130' 'd' $originDate)")
	#if(!$triple1 || $triple1 == "")
		#set($triple1 = "#oneTriple($root $cluster_uri '130' 'f' $originDate)")
	#end
	$triple1
	
	##originDate
	#set($triple2 = "")
	#set($triple2 = "#oneTriple($root $cluster_uri '730' 'd' $originDate)")
	#if(!$triple2 || $triple2 == "")
		#set($triple2 = "#oneTriple($root $cluster_uri '730' 'f' $originDate)")
	#end
	$triple2
	
	#if(!$triple1 && !$triple2 && $triple2 == "" && $triple1 == "")
		#oneTriple($root $cluster_uri "046" "kl" $originDate)
	#end
	
	
	##legalDate
	#set($triple1 = "")
	#set($triple1 = "#oneTriple($root $cluster_uri '130' 'd' $legalDate)")
	#if(!$triple1 || $triple1 == "")
		#set($triple1 = "#oneTriple($root $cluster_uri '130' 'f' $legalDate)")
	#end
	$triple1
	
	##legalDate
	#set($triple2 = "")
	#set($triple2 = "#oneTriple($root $cluster_uri '730' 'd' $legalDate)")
	#if(!$triple2 || $triple2 == "")
		#set($triple2 = "#oneTriple($root $cluster_uri '730' 'f' $legalDate)")
	#end
	$triple2
	
	#if(!$triple1 && !$triple2 && $triple2 == "" && $triple1 == "")
		#oneTriple($root $cluster_uri "046" "kl" $legalDate)
	#end
	
	##geographicCoverageNote
	##va generata una tripla per ciascuno (niente or)
	#triplesWithBlankNode($root $cluster_uri $note "522" "a" "Note" $note_c $rdfs_label "522" "a" $noteType "" "geographical coverage")
	#triplesWithBlankNode($root $cluster_uri $note "651" "a" "Note" $note_c $rdfs_label "651" "a" $noteType "" "geographical coverage")
	#triplesWithBlankNode($root $cluster_uri $note "662" "abcdefg" "Note" $note_c $rdfs_label "662" "abcdefg" $noteType "" "geographical coverage")
	#triplesWithBlankNode($root $cluster_uri $note "662" "h" "Note" $note_c $rdfs_label "662" "h" $noteType "" "geographical coverage")
	
	##penso vadano in OR le seguenti condizioni
	##temporalCoverageNote
	#triplesWithBlankNode($root $cluster_uri $note "513" "b" "Note" $note_c $rdfs_label "513" "b" $noteType "" "temporal coverage")
	#triplesWithBlankNode($root $cluster_uri $note "648" "a" "Note" $note_c $rdfs_label "648" "a" $noteType "" "temporal coverage")
	#triplesWithBlankNode($root $cluster_uri $note "533" "m" "Note" $note_c $rdfs_label "533" "m" $noteType "" "temporal coverage")
	
	##event	
	##triplesWithBlankNode($root $cluster_uri $event "518" "ao" "Event" $event_c $label "518" "ao" $eventDate "518" "d" $ventPlace "518" "p")
	##triplesWithBlankNode($root $cluster_uri $event "033" "ao" "Event" $event_c $label "033" "a"  $eventDate "033" "a" $ventPlace "033" "p"  $ventPlace "033" "bc")
	
	#multipleClassTriples($root $cluster_uri $eventContentOf "Event" $event_c "518" "a" "p" 'Place' $place_c $place "d" 'Date' $date_c $date)
	#multipleClassTriples($root $cluster_uri $eventContentOf "Event" $event_c "033" "a" "p" 'Place' $place_c $place "d" 'Date' $date_c $date)
	##penso vadano in OR le seguenti condizioni
	
	#triplesWithBlankNode($root $cluster_uri $classification "084" "a" "Classification" $classification_c $rdf_value "084" "a")	
	##classification ddc

	#triplesWithBlankNode($root $cluster_uri $classification "082" "a" "Ddc" $classificationDdc_c $rdf_value "082" "a")
	#triplesWithBlankNode($root $cluster_uri $classification "083" "ac" "Ddc" $classificationDdc_c $rdf_value "083" "ac")

	#triplesWithBlankNode($root $cluster_uri $classification "050" "a" "Lcc" $classificationLcc_c $rdf_value "050" "a")
	#triplesWithBlankNode($root $cluster_uri $classification "055" "a" "Lcc" $classificationLcc_c $rdf_value "055" "a")
	#triplesWithBlankNode($root $cluster_uri $classification "052" "a" "Lcc" $classificationLcc_c $rdf_value "052" "a")
		
	##classification udc
	#triplesWithBlankNode($root $cluster_uri $classification "080" "a" "Udc" $classificationUdc_c $rdf_value "080" "a")	
	##classification Nlm
	#triplesWithBlankNode($root $cluster_uri $classification "060" "a" "Nlm" $classificationNlm_c $rdf_value "060" "a")
	##classification isnnL
	#triplesWithBlankNode($root $cluster_uri $identifiedBy "022" "m" "issnL" $issnL_c $rdf_value "022" "m")
	
	#multipleClassTriples($root $manifestation_s $adminMetadata 'AdminMetadata' $adminMetadata_c "042" "a" "a" 'DescriptionAuthentication' $descriptionAuthentication_c $descriptionAuthentication)
	
	##genre
	## dovrebbe prendere 008/24-27 posizionale
	##dovrebbero essere in OR ?
	##triplesWithBlankNode($root $cluster_uri $genre "008" "24-27?" "genre" $category_c $categoryValue "008" "24-27?")
	#triplesWithBlankNode($root $cluster_uri $genreForm "655" "a" "GenreForm" $genreForm_c $rdfs_label "665" "a")
	#triplesWithBlankNode($root $cluster_uri $genreForm "513" "a" "GenreForm" $genreForm_c $rdfs_label "513" "a")
	#triplesWithBlankNode($root $cluster_uri $genreForm "516" "a" "GenreForm" $genreForm_c $rdfs_label "516" "a")
	
	#oneTriple($root $cluster_uri "130" "n" $musicSerialNumber)
	#oneTriple($root $cluster_uri "240" "n" $musicSerialNumber)
	#oneTriple($root $cluster_uri "130" "r" $musicKey)
	#oneTriple($root $cluster_uri "240" "r" $musicKey)
	##oneTriple($root $cluster_uri "130" "o" $musicVersion)
	##oneTriple($root $cluster_uri "240" "o" $musicVersion)
	##musicMediumNote
	
	#triplesWithBlankNode($root $cluster_uri $musicMedium "382" "adp" "MusicMedium" $musicMedium_c $rdfs_label "382" "adp")
	#triplesWithBlankNode($root $cluster_uri $musicMedium "240" "m" "MusicMedium" $musicMedium_c $rdfs_label "240" "m")
	#triplesWithBlankNode($root $cluster_uri $musicMedium "243" "m" "MusicMedium" $musicMedium_c $rdfs_label "243" "m")
	#triplesWithBlankNode($root $cluster_uri $musicMedium "700" "m" "MusicMedium" $musicMedium_c $rdfs_label "700" "m")
	#triplesWithBlankNode($root $cluster_uri $musicMedium "710" "m" "MusicMedium" $musicMedium_c $rdfs_label "710" "m")
	#triplesWithBlankNode($root $cluster_uri $musicMedium "711" "m" "MusicMedium" $musicMedium_c $rdfs_label "711" "m")
	#triplesWithBlankNode($root $cluster_uri $musicMedium "730" "m" "MusicMedium" $musicMedium_c $rdfs_label "730" "m")
	
	#oneTriple($root $cluster_uri "130" "d" $legalDate)
	#oneTriple($root $cluster_uri "730" "d" $legalDate)
	#oneTriple($root $cluster_uri "130" "f" $legalDate)
	#oneTriple($root $cluster_uri "730" "f" $legalDate)
	#oneTriple($root $cluster_uri "046" "kl" $legalDate)
	
	
	##credits
	#oneTriple($root $manifestation_s "508" "a" $credits)
	
	##immediateAcquisition
	#oneTriple($root $manifestation_s "541" "3abcdfhno" $immediateAcquisition)
	#oneTriple($root $manifestation_s "37" "abcf" $immediateAcquisition)
	
	##performerNote
	#triplesWithBlankNode($root $manifestation_s $note "511" "a" "Note" $note_c $rdfs_label "511" "a" $noteType "" "performer")
	
	##findingAidNote
	#triplesWithBlankNode($root $manifestation_s $note "555" "3abc" "Note" $note_c $rdfs_label "555" "3abc" $noteType "" "finding aid")
	
	##cartography
	#triplesWithBlankNode($root $cluster_uri $cartography "255" "d" "cartography" $cartography_c $ascensionAndDeclination "255" "d" $coordinates "255" "c" $equinox "255" "e" $exclusionGRing "255" "g" $outerGRing  "255" "f" $projection "255" "b" $scale "255" "a" )

	
	#triplesWithBlankNode($root $manifestation_s $title "246" "ab" "VariantTitle" $variantTitle_c $rdfs_label "246" "ab")
	#triplesWithBlankNode($root $manifestation_s $title "247" "ab" "VariantTitle" $variantTitle_c $rdfs_label "247" "ab")
	#triplesWithBlankNode($root $manifestation_s $title "242" "ab" "VariantTitle" $variantTitle_c $rdfs_label "242" "ab")
	
	## le seguenti coppie andranno in or?
	#oneTriple($root $cluster_uri "130" "n" $musicNumber)
	#oneTriple($root $cluster_uri "240" "n" $musicNumber)
	
	#oneTriple($root $cluster_uri "130" "r" $musicKey)
	#oneTriple($root $cluster_uri "240" "r" $musicKey)
	
	#oneTriple($root $cluster_uri "130" "o" $musicVersion)
	#oneTriple($root $cluster_uri "240" "o" $musicVersion)
	
	#triplesWithBlankNode($root $cluster_uri $note "382" "adp" "Note" $note_c $rdfs_label "382" "adp" $noteType "" "medium of performance")
	#triplesWithBlankNode($root $cluster_uri $note "240" "m" "Note" $note_c $rdfs_label "240" "m" $noteType "" "medium of performance")
	#triplesWithBlankNode($root $cluster_uri $note "243" "m" "Note" $note_c $rdfs_label "243" "m" $noteType "" "medium of performance")
	#triplesWithBlankNode($root $cluster_uri $note "700" "m" "Note" $note_c $rdfs_label "700" "m" $noteType "" "medium of performance")
	#triplesWithBlankNode($root $cluster_uri $note "710" "m" "Note" $note_c $rdfs_label "710" "m" $noteType "" "medium of performance")
	#triplesWithBlankNode($root $cluster_uri $note "711" "m" "Note" $note_c $rdfs_label "711" "m" $noteType "" "medium of performance")
	#triplesWithBlankNode($root $cluster_uri $note "730" "m" "Note" $note_c $rdfs_label "730" "m" $noteType "" "medium of performance")
	
	##contributor
	
	#set($_700s = $xpath.many("datafield[@tag='700']",$root))	
	#foreach($_700 in $_700s)			
		#set($_700_4 = $function.escape($xpath.combine($_700, "4")))
		#if(!$function.isNotNullAndNotEmpty($_700_4))
			#triplesWithBlankNode($root $cluster_uri $contributor "700" "a" "Agent" $agent_c $rdfs_label "700" "ae")
		#else
			#triplesWithBlankNode($root $cluster_uri $lc_relator "700" "a" "Agent" $agent_c $rdfs_label "700" "ae")
		#end	
	#end
	
	#set($_710s = $xpath.many("datafield[@tag='710']",$root))	
	#foreach($_710 in $_710s)			
		#set($_710_4 = $function.escape($xpath.combine($_710, "4")))
		#if(!$function.isNotNullAndNotEmpty($_710_4))
			#triplesWithBlankNode($root $cluster_uri $contributor "710" "a" "Agent" $agent_c $rdfs_label "710" "a")
		#else
			#triplesWithBlankNode($root $cluster_uri $lc_relator "710" "a" "Agent" $agent_c $rdfs_label "710" "a")
		#end	
	#end
	
	#set($_711s = $xpath.many("datafield[@tag='711']",$root))	
	#foreach($_711 in $_711s)			
		#set($_711_4 = $function.escape($xpath.combine($_711, "4")))
		#if(!$function.isNotNullAndNotEmpty($_711_4))
			#triplesWithBlankNode($root $cluster_uri $contributor "711" "a" "Agent" $agent_c $rdfs_label "711" "a")
		#else
			#triplesWithBlankNode($root $cluster_uri $lc_relator "711" "a" "Agent" $agent_c $rdfs_label "711" "a")
		#end	
	#end
	
	
	
	## related work
	#work_related($cluster_uri "780" "at" $root "precededBy" $work_c $precededBy)
	#work_related($cluster_uri "785" "at" $root "succeededBy" $work_c $succeededBy)


	#work_related($cluster_uri "490" "av" $root "series" $work_c $series)
	
#end




## INSTANCE OR WORK
##se di opera ne ho solo una:

#if($frbr.flatWorkIDs.size() == 1)	
	#set($s = "#uri_literal('Work' ${frbr.flatWorkIDs.iterator().next().id})")	
	#set($p = $workTitle)
	#set($k = "workTitle")
#else
	#set($s = $manifestation_s)
	#set($p = $instanceTitle)
	#set($k = "instanceTitle")
#end



## ISTANCE

$manifestation_s $is_a $instance_c .

##marc21
##istance title (che probabilmente non serve se appartiene ad un cluster)
##triplesWithBlankNode($root $manifestation_s $instanceTitle "245" "ab" "instanceTitle" $title_c $titleValue "245" "ab" $titleType "" "Istance Title" $partNumber "245" "n" $partTitle "245" "p" $titleVariationDate "245" "f")

#work_related($manifestation_s "777" "at" $root "issuedWith" $work_c $issuedWith)

##n.b che viene sovrascritta in caso siano presenti 246, perchè vengono gestiti come instance title pure loro
#triplesWithBlankNode($root $manifestation_s $title "245" "a" "instanceTitle" $istanceTitle_c $rdfs_label "245" "a" $subtitle "245" "b" $partNumber "245" "n" $partName "245" "p")

#triples_blank_indicators($root $manifestation_s $title "246" "a" "0" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Portion of title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "1" "parallelTitle" $parallelTitle_c $rdfs_label "246" "a" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "2" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Distintive title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "3" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Other title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p") 
#triples_blank_indicators($root $manifestation_s $title "246" "a" "4" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Cover title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "5" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Added title page title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "6" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Caption title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "7" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Running title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")
#triples_blank_indicators($root $manifestation_s $title "246" "a" "8" "VariantTitle" $variantTitle_c $rdfs_label "246" "a" $variantType "" "Spine title" $subtitle "246" "b" $partNumber "246" "n" $partName "246" "p")


#triplesWithBlankNode($root $manifestation_s $title "247" "a" "VariantTitle" $variantTitle_c $rdfs_label "247" "a" $variantType "" "Former Title" $subtitle "247" "b" $partNumber "247" "n" $partName "247" "p")
#triplesWithBlankNode($root $manifestation_s $title "242" "a" "VariantTitle" $variantTitle_c $rdfs_label "242" "a" $variantType "" "Translation of title by cataloging agency" $subtitle "242" "b" $partNumber "242" "n" $partName "242" "p")

#triplesWithBlankNode($root $manifestation_s $title "222" "a" "keyTitle" $keyTitle_c $rdfs_label "222" "a" $qualifier "222" "b")
#triplesWithBlankNode($root $manifestation_s $title "210" "a" "abbreviatedTitle" $abbreviatedTitle_c $rdfs_label "210" "a" $qualifier "210" "b")
#triplesWithBlankNode($root $manifestation_s $title "246" "ab" "IstanceTitle" $istanceTitle_c $rdfs_label "246" "ab")
#triplesWithBlankNode($root $manifestation_s $title "247" "ab" "IstanceTitle" $istanceTitle_c $rdfs_label "247" "ab")
#triplesWithBlankNode($root $manifestation_s $title "242" "ab" "IstanceTitle" $istanceTitle_c $rdfs_label "242" "ab")


##languageNote 
#triplesWithBlankNode($root $manifestation_s $note "546" "3a" "Note" $note_c $rdfs_label "546" "3a" $noteType "" "language")


##media 
##set($triple = "")
##set($triple = "#oneTriple($root $manifestation_s '337' 'a' $mediaCategory)")
##if(!$triple || $triple == "")
	##set($triple = "#oneTriple($root $manifestation_s '337' 'b' $mediaCategory)")
##end	
##if(!$triple || $triple == "")
	##set($triple = "#oneTriple($root $manifestation_s '007' '00' $mediaCategory)")
##end
##$triple

##dimensions
#oneTriple($root $manifestation_s "300" "c" $dimensions)
#oneTriple($root $manifestation_s "340" "c" $dimensions)

##editionStatement
#oneTriple($root $manifestation_s "250" "a" $editionStatement)

##editionResponsibility
##oneTriple($root $manifestation_s "250" "b" $editionResponsibility)

##extent
#triplesWithBlankNode($root $manifestation_s $extent "300" "eaf" "Extent" $extent_c $rdf_value "300" "eaf")

##frequency
#triplesWithBlankNode($root $manifestation_s $frequency "310" "a" "Frequency" $frequency_c $rdf_value "310" "a")

##responsibilityStatement
#oneTriple($root $manifestation_s "245" "c" $responsibilityStatement)


##da sistemare
#firstIssue
#oneTriple($root $manifestation_s "362" "a" $firstIssue)
##lastIssue
#oneTriple($root $manifestation_s "362" "a" $lastIssue)

##format
###oneTriple($root $manifestation_s "856" "q" $format)
###oneTriple($root $manifestation_s "340" "abcdefhljkmno" $format)

##providerStatement
#oneTripleCleaned($root $manifestation_s "260" "abc" $provisionActivityStatement)
#oneTripleCleaned($root $manifestation_s "264" "abc" $provisionActivityStatement)

##publication  (non precisa)
##triplesWithBlankNode($root $manifestation_s $publication "260" "a" "provider" $provider_c $providerRole "260" "bf" $providerPlace "260" "a" $providerName "260" "b" $providerDate "260" "c")


##frequencyNote
#triplesWithBlankNode($root $manifestation_s $note "321" "ab" "Note" $note_c $rdfs_label "321" "ab" $noteType "" "frequency")
#triplesWithBlankNode($root $manifestation_s $note "310" "ab" "Note" $note_c $rdfs_label "310" "ab" $noteType "" "frequency")


##awardNote
#triplesWithBlankNode($root $manifestation_s $note "586" "3a" "Note" $note_c $rdfs_label "586" "3a" $noteType "" "award")

##custodialHistory
#oneTriple($root $manifestation_s "561" "3a" $custodialHistory)

##illustrationNote
#triplesWithBlankNode($root $manifestation_s $note "300" "b" "Note" $note_c $rdfs_label "300" "b" $noteType "" "illustration")

##notation
#triplesWithBlankNode($root $manifestation_s $notation "546" "b" "Notation" $notation_c $rdfs_label "546" "b")

##preferrefCitation
#oneTriple($root $manifestation_s "524" "a" $preferredCitation)

##supplementaryContentNote
#triplesWithBlankNode($root $manifestation_s $note "504" "ab" "Note" $note_c $rdfs_label "504" "ab" $noteType "" "supplementary Content")
#triplesWithBlankNode($root $manifestation_s $note "525" "a" "Note" $note_c $rdfs_label "525" "a" $noteType "" "supplementary Content")

## graphicScaleNote
#triplesWithBlankNode($root $manifestation_s $note "507" "a" "Note" $note_c $rdfs_label "507" "a" $noteType "" "Graphic scale")

##aspectRatio
#triplesWithBlankNode($root $manifestation_s $aspectRation "007" "04m" "AspectRation" $aspectRatio_c $rdfs_label "007" "04ma")
#triplesWithBlankNode($root $manifestation_s $aspectRation "345" "a" "AspectRation" $aspectRatio_c $rdfs_label "345" "a")

##duration
#oneTriple($root $manifestation_s "306" "a" $duration)

#triplesWithBlankNode($root $manifestation_s $language "041" "a" "Language" $language_c $rdfs_label "041" "a" $rdf_value "041" "2")

#triplesWithBlankNode($root $manifestation_s $arrangement "351" "a" "Arrangement" $arrangement_c $rdfs_label "351" "a" $hierarchicalLevel "351" "c" $part "351" "3")

#oneTriple($root $manifestation_s "024" "az" $uri)

#triplesWithBlankNode($root $manifestation_s $note "500" "3a" "Note" $note_c $rdfs_label "500" "3a" $noteType "" "General")




######################## controlfield 008 #############################

#set($_008 = $xpath.cf('008', $root))

	##formatofMusic
#set($positionValue = $function.substringByPosition($_008, "20"))
#if($function.isNotNullAndNotEmpty($positionValue))
	#triplesWithBlankNode_cf($root $manifestation_s $musicFormat "008" "MusicFormat" $musicFormat_c $rdfs_label $positionValue)
#end

	##genre
#set($positionValue = $function.substringByPosition($_008, "24-27"))
#if($function.isNotNullAndNotEmpty($positionValue))	
	#triplesWithBlankNode_cf($root $cluster_uri $genreForm "008" "GenreForm" $genreForm_c $rdfs_label $positionValue)
#end

 ## language
#set($positionValue = $function.substringByPosition($_008, "35-37"))
#if($function.isNotNullAndNotEmpty($positionValue))	
	#set($lang = "#uri_with_strong_normalization('Language' ${positionValue})")
	$manifestation_s $language $lang .
	$lang $is_a $language_c .
	$lang $rdf_value "$positionValue" .
#end

##illustrationNote
#set($positionValue = $function.substringByPosition($_008, "18-21"))
#if($function.isNotNullAndNotEmpty($positionValue))	
	##$manifestation_s $illustrationNote "$positionValue" .
	#triplesWithBlankNode_cf($root $manifestation_s $note "008" "Note" $note_c $rdfs_label $positionValue $noteType "" "Illutration")
#end

############################################

	
##Item

#multipleClassTriples($root $manifestation_s $hasItem  'Item' $item_c "852" "a" "a" 'Agent' $agent_c $held_by)
#multipleClassTriples($root $manifestation_s $hasItem 'Item' $item_c "050" "ab" "ab" 'ShelfaMarkLcc' $shelfMarkLcc_c $shelfMark)

#oneTripleWithUri($root $manifestation_s "040" "e" $descriptionConventions "<http://id.loc.gov/vocabulary/descriptionConventions/")

#multipleClassTriples($root $manifestation_s $adminMetadata 'AdminMetadata' $adminMetadata_c "040" "e" "e" 'DescriptionConventions' $descriptionConventions_c $descriptionConvention "b" 'DescriptionLanguage' $language_c $descriptionLanguage "a" 'Agent' $agent_c $agent)

## isbn
	#set($_020s = $xpath.many("datafield[@tag='020']",$root))
	#foreach($_020 in $_020s)			
        #set($fieldValue = $function.escape($xpath.combine($_020, "a")))			
		#if($function.isNotNullAndNotEmpty($fieldValue))
			#set($substring = $function.substringFirstSpace($fieldValue))			
			#if($substring.length() == 10)				
				#triplesWithBlankOne("a:substringFirstSpace" $root $manifestation_s $identifiedBy $_020 "a" "identifier" $isbn_c $rdf_value "020" "a")				
			#elseif ($substring.length() == 13)				
				#triplesWithBlankOne("a:substringFirstSpace" $root $manifestation_s $identifiedBy $_020 "a" "identifier" $isbn_c $rdf_value "020" "a")
			#else				
				#triplesWithBlankOne("a:substringFirstSpace" $root $manifestation_s $identifiedBy $_020 "a" "identifier" $isbn_c $rdf_value "020" "a")	
			#end
		#end
	#end
	